@import url("https://fonts.cdnfonts.com/css/common-pixel");

html {
  height: 100%;
  font-family: "Griffy", cursive;
}

#title {
  font-family: "Common Pixel", sans-serif;
  position: absolute;
  bottom: 80px;
  color: rgb(163, 56, 224);
}

#direction {
  font-family: "Common Pixel", sans-serif;
  position: absolute;
  top: 80px;
  color: rgb(163, 56, 224);
}

body {
  height: 100%;
  margin: 0;
  background-color: rgb(247, 155, 255);
  background-size: 100%;
}

#gameScreen {
  background-image: url(./assets/background.png);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#scoreAppear {
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family: "Common Pixel", sans-serif;
  position: absolute;
  top: 150px;
  right: 328px;
}

.buttonStyle {
  font-weight: 600;
  border: solid 2px rgb(255, 105, 213);
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1.5em;
  font-family: "Common Pixel", sans-serif;
  color: white;
  letter-spacing: 0.08rem;
  background-color: rgb(255, 0, 170);
  border-radius: 0.35rem;
  position: absolute;
  transform: translate(-50%, 0);
  cursor: pointer;
  transition: all 0.25s ease;
}

#restartButton {
  top: 65%;
  left: 50%;
}

#winButton {
  top: 65%;
  left: 50%;
  background-color: rgb(255, 0, 170);
}
.buttonStyle p {
  padding: 0;
  margin: 0;
}

.title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

.gameOver {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, 0);
}

.heart {
  position: absolute;
  top: 37%;
  left: 40%;
}

.youWin {
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, 0);
}

.potion {
  position: absolute;
  top: 39%;
  left: 43%;
}

.blurryBG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.endMenu {
  display: none;
}

.winMenu {
  display: none;
}

#startButton {
  top: 60%;
  right: 41%;
  background-color: rgb(255, 0, 149);
}

.witch {
  position: absolute;
  top: 28.7%;
  left: 52%;
}
